/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
/* End hide from IE-mac */

body {
  padding: 0px;
  background: #F5F3F1;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

h1{
  color: #8C8C92;
  font-size: 24px;
  margin-bottom: 10px;
}

span.deco1{
  width: 30px;
  height: 30px;
  background: #6aef26;
  display: block;
  border-radius: 10px;
  position: absolute;
  right: 4%;
  top: 4%;
}
#mpc-container{
  padding: 10%;
}

#mpc{
  width: 100%;
  background: #2F2F2F;
  -webkit-box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.94);
  -moz-box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.94);
  box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.94);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

#mpc h2{
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 25px;
}
.mpc-button {
  background: #bdbdbf;
  margin: 2%;
  list-style: none;
  width: 20%;
  height: 100px;
  float: left;
  position: relative;
  -webkit-box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.54);
  -moz-box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.54);
  box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.54);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}

.mpc-button.active {
  background: #6aef26;
  -webkit-box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.8);
  -moz-box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.8);
  box-shadow: 4px 6px 0px -2px rgba(255,255,255,0.8);
}

.mpc-button.active span {
  color: white;
}

.mpc-button span{
  color: gray;
  font-size: 42px;
  font-weight: bold;
  position: absolute;
  top: 3%;
  left: 8%;
}
