extends layout

block content

  div#mpc-container
    h1 MPC Realtime
    ul#mpc.clearfix
      span.deco1
      h2 Test Realtime MPC
      li#s0.mpc-button(onclick='mpc.clickMpcButton(0)')
        span 1
      li#s1.mpc-button(onclick='mpc.clickMpcButton(1)')
        span 2
      li#s2.mpc-button(onclick='mpc.clickMpcButton(2)')
        span 3
      li#s3.mpc-button(onclick='mpc.clickMpcButton(3)')
        span 4
      li#s4.mpc-button(onclick='mpc.clickMpcButton(4)')
        span q
      li#s5.mpc-button(onclick='mpc.clickMpcButton(5)')
        span w
      li#s6.mpc-button(onclick='mpc.clickMpcButton(6)')
        span e
      li#s7.mpc-button(onclick='mpc.clickMpcButton(7)')
        span r
      li#s8.mpc-button(onclick='mpc.clickMpcButton(8)')
        span a
      li#s9.mpc-button(onclick='mpc.clickMpcButton(9)')
        span s
      li#s10.mpc-button(onclick='mpc.clickMpcButton(10)')
        span d
      li#s11.mpc-button(onclick='mpc.clickMpcButton(11)')
        span f
